.main-shortcuts-container {
    margin-top: 2em;
    display: flex;
    justify-content: center;
}

.main-shortcuts {
    display: flex;
    justify-content: center;
    gap: 2em;
    width: 60em;
}

@media(max-width: 1000px){
    .main-shortcuts-container {
        justify-content: center;
    }

    .main-shortcuts {
        flex-wrap: wrap;
    }
}