.shortcut-container img {
    width: 4em;
}

.shortcut-container p {
    text-align: center;
    font-size: 14px;
}

.shortcut-container:hover {
    cursor: pointer;
}

@media(max-width: 1000px){
    .shortcut-container img {
        width: 3em;
    }

    .shortcut-container p {
        font-size: 10px;
    }
}